/* Timo Koster, 10815716*/

text.mapTitle {
  font: 35px Calibri;
  fill: #0E197C;
}


div.tooltipMap {
  position: absolute;
  opacity: 0.90;
  visibility: hidden;
  background: white;
  font: 13px Verdana;
  color: #178438;
  border-radius: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

div.tooltipGraph {
  position: absolute;
  opacity: 0.85;
  visibility: hidden;
  background: white;
  font: 14px Verdana;
  color: #396AC0;
  border-radius: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.countries {
  stroke: black;
  stroke-width: .5;
}

text.y-axis-label {
  font: 13px Arial;
  font-weight: bold;
}

.x-axis {
  font: 10px Verdana;
}

text.graphTitle {
  font: 35px Calibri;
  fill: #0E197C;
}

text.legendTitle {
  font: 14px Verdana;
  font-weight: bold;
}
text.legendText {
  font: 12px Verdana;
}

a {
  font: 12px Verdana;
}

p {
  font: 14px Verdana;
}
